


events
  -waistman weeklies
  -sodium showdown
  -wales weeklies?

Any stream details

directions
  -where it is
  -best places to park
  -handy train/bus times etc

definitely need a gon in there somewhere
